src/main/default/flows/test_chat_gpt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_response</name>
        <label>get response</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>OpenAI.createChatCompletion</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>display</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>reqeusetBody</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set</name>
        <label>Set</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>reqeusetBody.model</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gpt-3.5-turbo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message.content</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ask_ChatGPT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reqeusetBody.messages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_response</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>test chat gpt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test chat gpt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>display</name>
        <label>display</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>asd</name>
            <fieldText>&lt;p&gt;{!get_response.200.choices}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>question</name>
        <label>question</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set</targetReference>
        </connector>
        <fields>
            <name>ask_ChatGPT</name>
            <fieldText>ask ChatGPT</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>question</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>message</name>
        <apexClass>ExternalService__OpenAI_ChatCompletionRequestMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reqeusetBody</name>
        <apexClass>ExternalService__OpenAI_CreateChatCompletionRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
